$col-bg-header: #004371;
$col-bg-portfolio: #fff;
$col-bg-footer: #061634;

$col-header-title: #fff;
$col-header-txt: #fff;
$col-header-arrow: #fff;

$col-portf-title: #000;
$col-portf-itm-title: #000;
$col-portf-itm-title-act: #0052c2;
$col-portf-itm-text: #000;

$col-footr-title: #6479a2;
$col-footr-txt: #fff;
$col-footr-txt-dark: #6479a2;
$col-footr-social: #fff;
$col-footr-social-act: #ffe400;